.fancy-header {
    color: red; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
.headers {
   color: lightcoral;
    text-decoration: underline;
}
ul li {
    list-style: georgian;
}

